<% layout('layouts/boilerplate') %>
<!-- <title>Campgrounds</title> -->
<div id="cluster-map" class="mb-3"></div>
<h1>All Campgrounds</h1>
<% for(let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if(!campground.images.length) { %>
                    <img src="no_image.png" alt="no-image" class="img-fluid card-img">
                <% } else { %>
                    <img crossorigin="anonymous" src="<%= campground.images[0].url %>" alt="Image of Camp" class="img-fluid card-img">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description.substr(0,300) %>...</p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<script>
    const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
</script>

<script src="/js/clusterMap.js"></script>